<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authority Signup</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h2>Select Your Municipality</h2>
        <select id="position">
            <option value="municipality">Municipality</option>
            <option value="corporation">Corporation</option>
            <option value="panchayath">Panchayath</option>
        </select><br>
        <button onclick="location.href='/authority_dashboard'">View Reports</button>
    </div>
</body>
</html>
