<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select User Type</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="container">
        <h2>Welcome! Choose Your Role</h2>
        <button onclick="location.href='/driver_signup'">I am a Driver</button>
        <button onclick="location.href='/authority_signup'">I am an Authority</button>
    </div>
</body>
</html>
